@model myiotprojects.Models.PostReplyModel
@{
    ViewData["Title"] = "Create Reply";
}
<div class="container body-content bg-white">
    <div class="row sectionHeader">
        <a class="btn bg-light" asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId">@ViewData["BackToPost"]</a>
    </div>
    <div class="createReply">
        <form asp-action="AddReply" method="post" id="addPostForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="reply" asp-for="ReplyContent">@ViewData["Reply"]: </label>
                <textarea asp-for="ReplyContent" rows="20" class="form-control"></textarea>
                <span asp-validation-for="ReplyContent" class="text-danger"></span>
            </div>
            <button type="submit" class="btn submitReplyBtn">@ViewData["SubmitReply"]</button>
            <input asp-for="AuthorId" type="hidden" />
            <input asp-for="PostId" type="hidden" />
        </form>
    </div>
</div>
