@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = localizer.GetString("Access");
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@localizer["You"]</p>
</header>
